---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout>
	<div class="flex h-screen">
		<Sidebar />
		<div class="flex flex-col flex-1 dark:bg-gray-800 p-4">
			<div class="p-6 dark:bg-gray-700 rounded-lg">
				<h1 class="text-2xl font-semibold">Timeline</h1>
			</div>
			

		</div>
	</div>	
</Layout>
