---
import { SignedIn, UserButton } from "@clerk/astro/components";
import NavbarButton from "./NavbarButton.astro";
import HomeIcon from "../assets/icons/HomeIcon.astro";
import DetectionIcon from "../assets/icons/DetectionIcon.astro";
import HistoryIcon from "../assets/icons/HistoryIcon.astro";
---
<aside class="flex flex-col w-[20%] h-full gap-4 bg-gray-100 px-2 py-4 rounded-lg">
    <h2 class="text-2xl font-semibold whitespace-nowrap text-black">Citric AI</h2>
    <div class="flex items-center justify-center">
        <SignedIn>
            <UserButton appearance={
                    {
                        elements: {
                        avatarBox: {
                            width: '4.5rem',
                            height: '4.5rem',
                            borderRadius: '20%',
                            },
                        userButtonAvatarImage: {
                            width: '4.5rem',
                            height: '4.5rem',
                            aspectRatio: '1/1',
                            objectFit: 'cover',
                            justifyContent: 'center',
                            alignItems: 'center',
                            padding: '0',
                            }
                    },
                }
        }/>
    </SignedIn>
    </div>
    <nav class="flex flex-col justify-start gap-1 h-full">
        <NavbarButton href="/dashboard" name="Dashboard">
            <HomeIcon/>
        </NavbarButton>
        <NavbarButton href="/detection" name="Detection">
            <DetectionIcon/>
        </NavbarButton>
        <NavbarButton href="/history" name="History">
            <HistoryIcon/>
        </NavbarButton>
    </nav>
</aside>